@lost gutter 4px;

.root {
  .topics {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .topic {
      lost-align: center;
      lost-waffle: 1;
      height: 120px;

      @include for-tablet-portrait-up {
        lost-waffle: 1/2;
        height: 170px;
      }

      @include for-desktop-up {
        lost-waffle: 1/4;
        height: 220px;
      }
    }
  }
}
