@lost gutter 4px;

.root {
  .topics {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .topic {
      lost-align: center;
      lost-waffle: 1/1;
      height: 120px;

      > h4 {
        color: $color-text-contrast;
        font-size: 2rem;

        @include for-tablet-portrait-up {
          font-size: 2.4rem;
        };
      }

      @include for-tablet-portrait-up {
        lost-waffle: 1/2;
        height: 170px;
      }

      @include for-big-desktop-up {
        lost-waffle: 1/4;
        height: 190px;
      }
    }

    .discipline {
      lost-align: center;
      lost-waffle: 1/1;
      height: 80px;

      > h5 {
        color: $color-text-contrast;
        font-size: 1.8rem;

        @include for-tablet-portrait-up {
          font-size: 2rem;
        };
      }

      @include for-tablet-portrait-up {
        lost-waffle: 1/4;
        height: 130px;
      }

      @include for-big-desktop-up {
        lost-waffle: 1/8;
        height: 150px;
      }
    }
  }
}
