.root {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: $color-background;
  color: $color-text;

  h1, h2, strong {
    color: $color-bold;
  }
}

.content {
  display: flex;
  justify-content: center;
  flex: 1;
  max-width: 110rem;
  width: 100%;
  align-self: center;

  @include for-tablet-portrait-up {
    width: calc(100% - 32px);
  };
}
