.root {
  width: 100%;
  justify-content: center;

  ul {
    list-style-position: outside;
    margin-left: 1em;

    li {
      margin-bottom: 4px;
    }
  }

  .coreMembers {
    lost-utility: clearfix;
  }

  .affiliatedMembers {
    h4 {
      margin-top: 8px;
      margin-bottom: 4px;
    }
  }

  .orePrinciple {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  .lab {
    display: flex;
    flex-wrap: wrap;

    > img {
      margin: 16px auto;
      width: 100%;

      @include for-tablet-portrait-up {
        width: 400px;
        height: 400px;
      }
    }

    > div {
      margin-bottom: 16px;
    }
  }
}
