@import "~react-toolbox/lib/colors";

.appBar {
  background-color: $color-primary;
  display: flex;
  justify-content: space-around;
  height: auto;

  img {
    width: 120px;
    margin: 8px;
  }
}

.horizontal {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  text-align: center;
}
